.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.issues-table {
  display: block;
  margin: 20px auto;
  max-width: 977px;
  border: 1px solid #e1e4e8;
}

.issue-row {
  max-width: 977px;
  margin: auto 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  border-top: 1px solid #e1e4e8;
  /* border-radius: 3px 3px 0 0; */
  color: rgb(36, 41, 46);
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 10px;
}

.issue-row:hover {
  background-color: #f6f8fa;
}

.issue-row:first-child {
  border-top: none;
}

.issue-icon {
  height: 100%;
  margin-right: 8px;
  padding-top: 11px;
}

.issue-text {
  text-align: left;
  padding-top: 8px;
}

.issue-title {
  color: #24292e;
  font-size: 16px;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  margin-bottom: 3px;
}

.issue-subtitle {
  color: #586069;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
